* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box; 
}
body{
    min-height: 100vh;
    
}
html {
    scroll-behavior: smooth;
}
.navbar{
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
   

}
.border-logo{
    border: 1.1px solid transparent;
    border-radius: 2px;
}
.border-logo:hover{
    border: 1.1px solid white;
    border-radius: 2px;
}
.border{
    border: 1.1px solid transparent;
    padding: 10px;
    border-radius: 2px;
}
.border:hover{
    border: 1.1px solid white;
    padding: 10px;
    border-radius: 2px;
}


/* box-2 address styling */
.add-first{
   color: #cccccc;
   font-size: 0.85rem;
   margin-left: 15px;
  
}
.add-second{
   font-size: 1.2vw;
   margin-left: 2px;
}
.add-icon{
    display: flex;
    align-items: center;
}

/* box-3 styling */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    
}
.nav-search:hover{
    border: 2px solid rgb(255, 196, 0);
}
.Search-select{
    background-color:  #ecf2ec;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}

.search-input{
    width: 100%;
    font-size: 1vw;
    border: none;
}
.Search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw;
    background-color: rgb(255, 196, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

/* box-4 styling */
span{
 font-size: 0.9vw;
}
.nav-second{
 font-size: 0.99vw;
 font-weight: 700;
}
.nav-cart i{
    font-size: 2vw;
}
/* styling for panel */
.panel{
    background-color: #373b3b;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: white;
    height: 40px;

}
.panel-all p {
     font-size: 1.3vw; 
     display: inline;
}
.panel-all i {
    font-size: 1.3vw;
}

.panel-ops p {
    display: inline;
    margin-left: 13px;
    font-size: 1.1vw;
    
}
.panel-ops{
    width: 75%;
}
.panel-deals{
    font-weight: 700;
    font-size: 1.1vw;
}
/* hero section styling here */
.hero-section {
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    background-position: center;
    width: 100wh; /* Use vw instead of wh for width */
    height: 65vh;
    display: flex;
    justify-content: flex-end; /* Align the content to flex-end */
    background-repeat: no-repeat;
    position: relative; /* Add position relative to the parent */
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    position: absolute; /* Position the message absolutely */
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 25px; /* Adjust the distance from the left as needed */
}

.hero-message a{
    color: rgb(90, 155, 90);
    text-decoration: none;
}
/* shop section styling here */
.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6dc;
  padding: 20px;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content h2{
    font-size: 1.5vw;
    padding: 10px;
}
.box-content p{
    font-size: 1.5vw;
    padding: 10px;
}
.box-content a{
     color: rgb(60, 105, 60);
      margin-top: 10px;
      text-decoration: none;
      display: inline-block;
}
.box-content a:hover{
    color: rgba(255, 0, 0, 0.562);
     margin-top: 10px;
     text-decoration: none;
     display: inline-block;
}

.box{
    width: 290px;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-img{
    height: 280px;
    background-size: cover;
    background-position: center;
    cursor: pointer;

}

/* footer styling here */
.footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    height: auto; /* Allow the height to adjust based on content */
    min-height: 50px; /* Minimum height */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    
}
.foot-panel1 a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: block;

}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: auto; /* Allow the height to adjust based on content */
    min-height: 310px; /* Minimum height */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
ul{
    margin-top: 20px;
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}
ul p{
    font-size: 3.3vh;
    margin-top: 50px;
    margin-bottom: 20px;
    
}
ul a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 2.2vh;
    line-height: 200%;
}
/* .hero-section */
 @media (max-width: 885px) {
    
   .hero-message{
        font-size: 0.65rem;
    }
    .nav-second{
        font-size: 0.65vw;
        font-weight: 700;
       }
    
  }
  @media (max-width: 720px) {
    
    .hero-message{
         font-size: 0.45rem;
         width: 90%;
     }
     .nav-second{
        font-size: 0.55vw;
        font-weight: 700;
       }
     
   }
   
/* .shop-section */
@media (max-width: 910px) {
    .shop-section {
        justify-content: center;
    }
    .box {
        width: 31%; 
        margin-bottom: 20px; 
        margin-left: 10px;
    }
    .box-img {
        height: 150px;
    }
}

@media (max-width: 470px) {
    .shop-section {
        align-items: center;
    }
    .box {
        width: 47%; 
        margin-bottom: 20px;
    }
}

@media (max-width: 375px) {
    .shop-section {
        align-items: center;
        flex-direction: column;
        
    }
    .box {
        width: 100%; 
        margin-bottom: 20px; 
    }
}
  
/* footer  */
@media (max-width: 768px) {
    ul p {
        font-size: 2.3vh;
        margin-top: 30px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    .footer{
        margin: 15px;
    }

    ul a {
        font-size: 1.8vh;
    }
    .foot-panel2{
        min-height: 220px;

    }
}

@media (max-width: 600px) {
    ul p {
        font-size: 2vh;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    ul a {
        font-size: 1vh;
    }
    .foot-panel2{
        min-height: 145px;

    }
}
@media (max-width: 480px) {
    .foot-panel2{
        flex-wrap: wrap;
        min-height: 160px;

    }
    .foot-panel2 ul{
        margin-left: 20px;
    }
}
   /* @media only screen and (max-width: 768px) {
    
   html,body{
    width: 100%;
    overflow-x: hidden;
   }
   }

  */
